<div class="container-info" id="productList">
  <h1> Lista de Productos de la Base de Datos</h1>
  {{#each products}}
    <div class="product-item">
      <p>Id: {{id}}</p>
      <p>Título: {{title}}</p>
      <p>Descripción: {{description}}</p>
      <p>Precio: ${{price}}</p>
      <p>Categoría: {{category}}</p>
      <p>Código: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <hr />
    </div>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket-client.js"></script>
