<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenida con Datos</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="grilla">
      <div>
        <h1>Rutas de APIRest</h1>
        <h4>Obtener los todos productos</h4>
        <div class="border" style="border: 2px solid green">
          <p>
            http://localhost:8080/api/products/
          </p>
        </div>

        <h4>Obtener un producto</h4>
        <div class="border" style="border: 1px solid yellow">
          <p>
            http://localhost:8080/api/products/2
          </p>
        </div>

        <h4>Obtener los todos cart</h4>
        <div class="border" style="border: 2px solid green">
          <p>
            http://localhost:8080/api/cart/
          </p>
        </div>
        <h4>Obtener un cart</h4>
        <div class="border" style="border: 0.2px solid yellow">
          <p>
            http://localhost:8080/api/cart/2
          </p>
        </div>
      </div>
      <div>
        <h1> Lista de Productos de la Base de Datos</h1>
        {{#each products}}
          <p>Id: {{id}}</p>
          <p>Título: {{title}}</p>
          <p>Descripcion: {{description}}</p>
          <p>Precio: ${{price}}</p>
          <p>categoria: {{category}}</p>
          <p>Codigo: {{code}}</p>
          <p>Stock: {{stock}}</p>
          <hr />
        {{/each}}
      </div>

    </div>

  </body>
</html>